body {
	/*background: #111;*/
}

.pong,
.pong * {
	position: absolute;
}

.pong {
	width: 1280px;
	height: 720px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0 0 0 8px #666;
	background: #111;
	color: #fff;
}

.menu {
	align-items: center;
	background: #111;
	box-shadow: 0 0 0 4px #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 22.7%;
	padding: 2rem 4rem;
	top: 15%;
}

.menu-title {
	font: 10em/1 'Lato Black';
	font-size: 10em;
	font-weight: 900;
	letter-spacing: -.025em;
	line-height: 1;
	margin-bottom: 6rem;
	position: static;
}

.menu-title-left {
	color: #3f5;
	position: static;
}

.menu-title-right {
	color: #3bf;
	position: static;
}

.menu-control {
	display: flex;
	position: static;
}

.control {
	margin: 0 2rem;
	position: static;
	text-align: center;
}

.control-icon, .control-action {
	font: 3em/1 'Lato Black';
	line-height: 1;
	position: static;
}

.control-icon {
	border: 4px solid #fff;
	font-weight: 900;
	margin-bottom: 1.5rem;
	padding: 1.25rem 2.5rem;
	white-space: nowrap;
}

.control-action {
	font-weight: 400;
}

.paddle {
	width: 30px;
	height: 120px;
	left: 0;
	top: 0;
}
.paddle-player {
	background: #33FF55;
}

.paddle-enemy {
	background: #33BBFF;
}

.score {
	font: 6em/1 'Lato Black';
	top: 5px;
}
.score-player {
	color: #33FF55;
	left: 560px;
}

.score-enemy {
	color: #33BBFF;
	right: 560px;
}

.net {
	background: #666;
	width: 4px;
	height: 100%;
	left: 50%;
	top: 0;
	margin-left: -2px;
}
.ball {
	background: #fff;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0;
}